/* stroke(243,106,39); //orange = #f36a27
#a03317 //darker orange
stroke(60,31,62); //light dark purple
fill(19,17,28) // dark purple
#070203  // dark-dark purple
fill(255, 255, 255); // white */

body {
    background-color: #070203 ;
    border: 2px solid black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1  {
    /* text-align: center; */
    font-size: 1px;
    
}

.gametitle {
    color: black;
    /* margin-top: 2vh; */
    /* border: 5px solid green; */
  }

#footer {
    font-family: 'Turret Road', cursive;
    color: white;
    font-size: 36px;
    /* margin-top: 2vh; */
    border: 5px solid pink;
    margin-left: 20vh;
    margin-right: 20vh;
    text-align: center;
  }
  