body {
    background-color: royalblue;
    border: 2px solid black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1  {
    text-align: center;
    font-size: 36px;
}

/* remove once .innertext is removed */
section {
    text-align: center;
    font-size: 1px;
}

canvas {
    border-radius: 12px;
    margin: 2vh;
  }

.gametitle {
    color: white;
    margin-top: 2vh;
    border: 5px solid green;
  }